body {
}

#keys {
  top: 299px;
left: 599px;
  position: relative;
}

.key {
  width: 77px;
  height: 77px;
  color: black;
  background-color: #ccff00;
  margin: 8px;
  border-radius: 5px;
  transition: all 0.08s;
}

.pressed {
  transform: scale(1.05);
  background-color: #f1fe00;
  box-shadow: 0 0 10px #ccff00;
}


p {
  position: relative;
  left: 45px;
  top: 35px;
}

#mpc {
  width: 1000px;
  position:absolute;
}
